<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Feedback St. Louis</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.0/jquery.min.js"
                th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
        <link href="../static/css/normalize.css"
              th:href="@{css/normalize.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/feedback_bot.css"
              th:href="@{css/feedback_bot.css}" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                    <h1>Hey there!</h1> <span style="font-size:21px;">Thanks for being an awesome customer!</span>
                    <p> We'd always love to hear from you.</p>
                    <p>Drop us a line!</p>
                <form action="#" th:action="@{/process}" th:object="${model}" method="post">
                    <p>
                        <textarea class="input-field" th:field="*{request}"></textarea>
                    </p>
                    <p><input type="submit" value="Submit" class="btn btn-lg btn-success"/></p>
                </form>
            </div>
        </div>
    </body>
</html>