/*body {*/
    /*background-image: url("../images/background.png");*/
/*}*/

.container{
    padding: 0 100px;
    margin-top:5%;
}


.jumbotron {
    text-align: center;
    background: #e4f3f2;
}

.jumbotron .sentiment{
    padding-bottom:0px;
}

.input-field {
    height:150px;
    width: 400px;
    font-size:14pt;
}

.btn,
.btn:visited,
.btn-info:active,
.btn-info:focus,
.btn-success:active:hover {
    background-color: #00ae9e;
    border: 1px solid #00ae9e;
    color:white;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
    border-radius:0;
    padding: 19px 37px;
    font-size: 18px;
}

.btn:hover{
    background-color: #00cec2;
    border: 1px solid #00cec2;
}

.request{
    font-style: italic;
}

.response {
    font-weight: bold;
}
#sentiment_score{
    padding-top:30px;
    color: darkgrey;
}